<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1, h2{
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .parent-box {
            display: flex;
            justify-content: space-evenly;
            gap:15px;
            flex-wrap: wrap;
        }

        .box {
            height: 200px;
            width: 200px;
            border: 2px solid black;

        }
    </style>
    <title>Playground</title>

</head>
<body>
    <h1>Welcome to Playground!</h1>
    <h2>Level: {{ level }} </h2>
    <div class="parent-box">
        {% for i in range (0,count) %}
            <div class = "box" style="background-color:{{color}};"></div>
        {% endfor %}

</body>
</html>
